body
{
	font-family: Calibri, Helvetica, Arial;
}

.InputField, .OutputField
{
	resize: none;
	width: 45%;
	height: 10em;
}

.CharacterCardContainer
{
	display: flex;
	flex-wrap: wrap;
}

.CharacterThumb
{
	background-color: rgba(255,255,255,.9);
	border-color: rgb(20,20,20);
	border-radius: 6px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 2px 2px 3px rgb(90,90,90);
	box-sizing: border-box;
	width: 5%;
	padding: 3px;
	display: flex;
	margin: 3px;
	cursor: pointer;
}

.CharacterThumb .CharacterName
{
	display: none;
	font-size: 80%;
	font-weight: bold;
	overflow: hidden;
}

.CharacterThumb .CharacterSeries
{
	display: none;
	font-size: 100%;
	overflow: hidden;
}

.CharacterThumb.CharacterMissingImage .CharacterName, .CharacterThumb.CharacterMissingImage .CharacterSeries
{
	display: block;
}

.CharacterThumb img
{
	width: 100%;
	height: 100%;
	border-radius: 6px;
}

.CharacterThumb .CharacterURL
{
	display: none;
	margin-top: 5px;
}

.CharacterThumb .CharacterSkip
{
	display: none;
	margin: 3px 0;
}

.CharacterThumb.CharacterMissingImage img
{
	display: none;
}

.CharacterThumb.CharacterFull
{
	display: inline-block;
	width: auto;
	max-width: 30%;
	padding: 4px;
	cursor: auto;
}

.CharacterThumb.CharacterFull .CharacterName
{
	display: block;
	font-size: 100%;
	font-weight: bold;
	margin: 2px 0;
	padding: 2px;
}

.CharacterNameText
{
	float: left;
}

.CharacterClose
{
	cursor: pointer;
	float: right;
}

.CharacterDelete
{
	cursor: pointer;
	display: none;
	float: right;
}

.EditMode .CharacterDelete
{
	display: inline;
}

.CharacterThumb.CharacterFull .CharacterSeries
{
	display: block;
	font-size: 100%;
	margin: 2px 0;
}

.CharacterThumb.CharacterFull img
{
	display: block;
	height: auto;
}

.CharacterThumb.CharacterFull .CharacterURL, .CharacterThumb.CharacterFull .CharacterSkip
{
	display: block;
	text-align: center;
}

.CharacterThumb.CharacterFull .CharacterURL input[type="text"]
{
	width: 75%;
}

.EditMode .CharacterThumb.CharacterFull
{
	left: 50%;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%) translateZ(0) !important;
}

.CharacterThumb .CharacterNew
{
	font-size: 3.5vw;
	margin: auto;
}

.NewCharacterCard
{
	min-width:20%;
}

/******************* Rank Mode *******************/

.RankingBlocker
{
	background-color:rgb(0,0,0,.5);
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}

.RankMode .RankingBlocker
{
	display: block;
	z-index: auto;
}

.RankingContainer .CharacterThumb.CharacterFull
{
	max-width: 50%;
	cursor: pointer;
}

.RankMode .CharacterClose
{
	display: none;
}

.RankingContainer
{
	left: 50%;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	
	background-color: rgb(255,255,255);
	border-color: rgb(20,20,20);
	border-radius: 6px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 6px 6px 4px rgba(0,0,0,.7);
	box-sizing: border-box;
	
	display: none;
	
	padding: 10px;
}

.RankingContainerTitle
{
	font-weight: bold;
	font-size: 1.5em;
}

.RankingContainerClose
{
	cursor: pointer;
	float: right;
}

.RankingCardContainer
{
	display: flex;
}

/******************* Output Field Flash *******************/
.FlashError
{
	-webkit-animation: FlashError 1s ease-in;
	animation: FlashError 1s ease-in;
}

@-webkit-keyframes FlashError
{
	from {background-color: rgb(255,0,0);}
	to {background-color: rgb(255,255,255);}
}

@keyframes FlashError
{
	from {background-color: rgb(255,0,0);}
	to {background-color: rgb(255,255,255);}
}

.FlashSuccess
{
	-webkit-animation: FlashSuccess 1s ease-in;
	animation: FlashSuccess 1s ease-in;
}

@-webkit-keyframes FlashSuccess
{
	from {background-color: rgb(0,255,0);}
	to {background-color: rgb(255,255,255);}
}

@keyframes FlashSuccess
{
	from {background-color: rgb(0,255,0);}
	to {background-color: rgb(255,255,255);}
}

.FlashWarning
{
	-webkit-animation: FlashWarning 1s ease-in;
	animation: FlashWarning 1s ease-in;
}

@-webkit-keyframes FlashWarning
{
	from {background-color: rgb(255,255,0);}
	to {background-color: rgb(255,255,255);}
}

@keyframes FlashWarning
{
	from {background-color: rgb(255,255,0);}
	to {background-color: rgb(255,255,255);}
}
